# Flutter
build/
.dart_tool/
.idea/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Firebase
google-services.json
GoogleService-Info.plist
firebase_options.dart

# Android
android/.gradle/
android/app/build/

# Windows
*.exe

# Supabase credentials — pa janm push sou GitHub
lib/config/supabase_config.dart

# IDE
.vscode/
.idea/

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Divers
*.log
coverage/
